{% extends "layout.html" %}

{% block content %}
    <!-- Choosing Section -->
    <section class="bg-primary text-white mb-0" id="about">
        <div class="container">
            <h2 class="text-center text-uppercase text-white">Choosing best destination</h2>
            <br>
            <br>
            <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">
                <form action="/addinfo" method="get">
                First name: <input type="text" name="firstName">
                <br>
                Last name: <input type="text" name="lastName">
                <br>
                #1 destination: <input type="text" name="firstChoice">
                <br>
                #2 destination: <input type="text" name="scndChoice">
                <br>
                #3 destination: <input type="text" name="thirdChoice">
                <input type="submit" value="Submit"/>
                </form>
                </p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">You can write some of your best travel destination.</p>
            </div>
            </div>
           
            
        </div>
    </section>

{% endblock %}