{% extends "layout.html" %}

{% block content %}
    <!-- Header -->
  <header class="masthead bg-primary text-white text-center">
        <div class="container">
          <img class="img-fluid mb-5 d-block mx-auto" src="/static/img/cover.png" alt="">
          <h1 class="text-uppercase mb-0">Start Traveling</h1>
          <br>
          <br>
          <h2 class="font-weight-light mb-0">
              ~ Better to see something once than hear about it a thousand times<br><br>
              ~ Life is a journey. Make the best of it<br><br>
              ~ The world is a book and those who do not travel read only one page<br><br>
              ~ Travel is the only thing you buy that makes you richer
          </h2>
        </div>
    </header>
   
    

{% endblock%}