{% extends "layout.html" %}

{% block content %}      
        <!-- Portfolio Modals -->
      <!-- Portfolio Grid Section -->
      <section class="portfolio" id="portfolio">
            <div class="container">
              <h2 class="text-center text-uppercase text-secondary mb-0">Pictures of some interesting destinations</h2>
              <hr class="star-dark mb-5">
                <h4>Europe</h4>
              <div class="row">
                <div class="col-md-6 col-lg-4">
                  <a class="portfolio-item d-block mx-auto" href="/pictures#portfolio-modal-1">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                      <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                        <i class="fas fa-search-plus fa-3x"></i>
                      </div>
                    </div>
                    <img class="img-fluid" src="/static/img/portfolio/metz.jpg" alt="">
                      <figcaption>Metz - France</figcaption>
                  </a>
                </div>
                <div class="col-md-6 col-lg-4">
                  <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                      <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                        <i class="fas fa-search-plus fa-3x"></i>
                      </div>
                    </div>
                    <img class="img-fluid" src="/static/img/portfolio/budapest.jpg" alt="">
                      <figcaption>Budapest - Hungary</figcaption>
                  </a>
                </div>
                <div class="col-md-6 col-lg-4">
                  <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                      <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                        <i class="fas fa-search-plus fa-3x"></i>
                      </div>
                    </div>
                    <img class="img-fluid" src="/static/img/portfolio/monteIsola.jpg" alt="">
                      <figcaption>Monte Isola - Italy</figcaption>
                  </a>
                </div>
              </div>
              <h4>Asia</h4>
              <div class="row">
                <div class="col-md-6 col-lg-4">
                  <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-4">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                      <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                        <i class="fas fa-search-plus fa-3x"></i>
                      </div>
                    </div>
                    <img class="img-fluid" src="/static/img/portfolio/phuket.jpg" alt="">
                    <figcaption>Phuket - Thailand</figcaption>
                  </a>
                </div>
                <div class="col-md-6 col-lg-4">
                  <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-5">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                      <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                        <i class="fas fa-search-plus fa-3x"></i>
                      </div>
                    </div>
                    <img class="img-fluid" src="/static/img/portfolio/singapore.jpg" alt="">
                    <figcaption>Singapore</figcaption>
                  </a>
                </div>
                <div class="col-md-6 col-lg-4">
                  <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-6">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                      <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                        <i class="fas fa-search-plus fa-3x"></i>
                      </div>
                    </div>
                    <img class="img-fluid" src="/static/img/portfolio/SagarmathaNationalPark.jpg" alt="">
                    <figcaption>Sagarmatha National Park - Nepal</figcaption>
                  </a>
                </div>
              </div>
              <h4>Australia</h4>
              <div class="row">
                <div class="col-md-6 col-lg-4">
                  <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-4">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                      <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                        <i class="fas fa-search-plus fa-3x"></i>
                      </div>
                    </div>
                    <img class="img-fluid" src="/static/img/portfolio/Melbourne.jpg" alt="">
                    <figcaption>Melbourne</figcaption>
                  </a>
                </div>
                <div class="col-md-6 col-lg-4">
                  <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-5">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                      <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                        <i class="fas fa-search-plus fa-3x"></i>
                      </div>
                    </div>
                    <img class="img-fluid" src="/static/img/portfolio/FraserIsland.jpg" alt="">
                    <figcaption>Fraser Island</figcaption>
                  </a>
                </div>
                <div class="col-md-6 col-lg-4">
                  <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-6">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                      <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                        <i class="fas fa-search-plus fa-3x"></i>
                      </div>
                    </div>
                    <img class="img-fluid" src="/static/img/portfolio/sydney.jpg" alt="">
                    <figcaption>Sydney</figcaption>
                  </a>
                </div>
              </div>
               <h4>America</h4>
              <div class="row">
                <div class="col-md-6 col-lg-4">
                  <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-4">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                      <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                        <i class="fas fa-search-plus fa-3x"></i>
                      </div>
                    </div>
                    <img class="img-fluid" src="/static/img/portfolio/sanFrancisco.jpg" alt="">
                    <figcaption>San Francisco</figcaption>
                  </a>
                </div>
                <div class="col-md-6 col-lg-4">
                  <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-5">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                      <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                        <i class="fas fa-search-plus fa-3x"></i>
                      </div>
                    </div>
                    <img class="img-fluid" src="/static/img/portfolio/grandCanyon.jpg" alt="">
                    <figcaption>Grand Canyon</figcaption>
                  </a>
                </div>
                <div class="col-md-6 col-lg-4">
                  <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-6">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                      <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                        <i class="fas fa-search-plus fa-3x"></i>
                      </div>
                    </div>
                    <img class="img-fluid" src="/static/img/portfolio/washingtonDC.jpg" alt="">
                    <figcaption>WashingtonDC</figcaption>
                  </a>
                </div>
              </div>
            </div>
          </section>
{% endblock %}